:root {
    --verdeClaro: #18D935;
    --verdeMeioTermo: #15BF2F;
    --verdeEscuro: rgb(45, 166, 63);
    --branco: #D9D9D9;
    --preto: #0D0D0D;
    /* O TAMANHO PADRÃO DA FONTE/ROOT VEM 16PX*/
}

:root[data-theme="escuro"] {
    --verdeClaro: #18D935;
    --verdeMeioTermo: #15BF2F;
    --verdeEscuro: rgb(45, 166, 63);
    --branco: #D9D9D9;
    --preto: #0D0D0D;
    /* O TAMANHO PADRÃO DA FONTE/ROOT VEM 16PX*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {

    font-size: 62.5%;
    /*especifica o comportamento de rolagem para uma caixa de scrolling*/
    scroll-behavior: smooth;
}


.title {
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;

}


body {
    font-family: sans-serif;
    font-family: 'Source Sans Pro', sans-serif
}

ul {
    /*em ê tamanho relativo ao tamanho da fonte do elemento*/
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.apresentation::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 140%;
    background: url('https://i.pinimg.com/originals/43/1a/37/431a378a36245dd2be6e870355af17f1.jpg');
    background-repeat: repeat-x;
    opacity: 0.8;
    z-index: -1; /* Coloca esta camada atrás dos filhos da classe .apresentacao */
    pointer-events: none; /* Impede que esta camada capture eventos de mouse, para que os filhos recebam eventos normalmente */
  }
  


.apresentacao {
    min-height: 80rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.apresentation_content {
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.apresentation_info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}

.apresentation_img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin-left: 5px;
    color: var(--branco);

    font-size: 30px;

}

.Mypic {
    margin-left: 5rem;
    margin-bottom: 4rem;
    width: 100%;
    border-radius: 2rem;
}

footer {
    text-align: center;
}


.header {
    box-shadow: 0 10px 100px rgba(0, 0, 0, .2);
    /*Uma pequena borda em volta do header*/
}





.logo_img {
    /*REM significa relativo a fonte do elemento root*/
    width: 25px;
    height: auto;
    margin-top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1.2rem;
}


.nav-pills .nav-link.active {
    background-color: #32CD32;

}

a {
    text-decoration: none;
    color: inherit;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/*Assim que passar o mouse em cima do botão, ele mudará de cor*/
a:hover {
    display: inline-block;
    text-decoration: none;
    /*Acaba gerando um espaço entre os links*/
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--verdeMeioTermo);
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #000;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, .1);
}

.header__logo-sub {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.header__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    transition: color .3s;
}

.header__logo-container:hover {
    color: var(--verdeEscuro);
}

.header__logo-img-cont {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
    background: #7843e9;
}

.header__content {
    display: flex;
    /*Adicionando ao centro tudo*/
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}



.header_links_write {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 3rem
}

.header_link {
    font-weight: 700;
    color: var(--preto);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;

}



.header__main-ham-menu-cont {
    display: none;
    width: 3rem;
    padding: 2.2rem 0
}

@media only screen and (max-width: 37.5em) {
    .header__main-ham-menu-cont {
        display: block
    }
}

.header__main-ham-menu {
    width: 100%
}

.header__main-ham-menu d-none-close {
    width: 100%
}

.header__sm-menu {
    background: #fff;
    position: absolute;
    width: 100%;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1)
}

.header__sm-menu--active {
    visibility: hidden;
    opacity: 0
}



.header__sm-menu-link a {
    display: block;
    text-decoration: none;
    padding: 2.5rem 3rem;
    font-size: 1.6rem;
    color: #333;
    text-align: right;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color .3s
}

.header__sm-menu-link a:hover {
    color: #7843e9
}

.header__sm-menu-link:first-child a {
    border-top: 1px solid #eee
}

.header__sm-menu-link-last {
    border-bottom: 0
}

.text_init {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: var(--branco);
    font-weight: 800
}

.text_primary {
    font-size: 2.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 100%;
}

.icons {
    padding: 5rem 5rem;
    margin-right: 2rem;
    text-align: center;
}

.icons__imgs {
    width: 5rem;
    height: 5rem;
    text-align: center;
    margin-right: 3rem;
}

.about_sobre {
    font-size: 1.8rem;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.sobre {
    padding-left: 10rem;
    padding-right: 10rem;
    color: var(--branco);
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.0px;


}

.about_container {
    /**/
    background: linear-gradient(to right, rgb(2, 85, 14), rgb(6, 6, 7));
    height: 160vh;
    min-height: 60rem;
    max-height: 100rem;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*propriedade a qual acaba abreviando column-gap, a qual definira a distância entre os containers*/
    grid-gap: 5rem;
    /*espaço entre as div*/
}


.about_container-curriculo {
    text-align: center;
}

.item1 {
    /*Vamos procurar dentro do template grid a posição que queremos tal grid*/
    grid-column-start: 1;
    /*Deixando entre a Coluna 1 e a 3(resumindo, meio)*/
    grid-column-end: 3;
}


.img--prin--config {
    margin-top: 5rem;
    width: 45rem;
    border-radius: 50%;
    border-bottom: rgb(120, 67, 233, 0.5);
    border-style: groove;
    border-color: rgba(14, 247, 65, 0.3);
}

.about_container-img {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.skills {
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.skills_skills {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
    font-size: 1.6rem;
    background: rgba(153, 153, 153, .2);
    border-radius: 5px;
    font-weight: 600;
    color: var(--branco);
}



.projetos {
    padding-top: 10rem;
    height: 100vh;
    background: linear-gradient(to right, rgb(2, 85, 14), rgb(6, 6, 7));
    text-align: center;



}

.links_write {

    text-align: center;
    color: var(--branco);
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;

}

.btn {
    background: #fff;
    color: var(--preto);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 900;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
    transition: transform .3s;
    margin-bottom: 2%;

}


/*Configuração de tamanho do botao*/
.btn--bg {
    padding: 1rem 8rem;
    font-size: 2rem;

}





.footer-main {
    background-color: var(--preto);
    color: var(--branco);
}

.main-container {
    max-width: 120rem;
    /*120x16px = 1920px*/
    margin: auto;
    width: 92%;
    /*Pegando 92% do container*/
}

/*Responsável pela div/container que contém social e sobre*/
.main-footer__upper {
    display: flex;
    justify-content: space-between;
    /*Define o espaçamento lateral entre os itens*/
    padding: 8rem 0;
}


.main-footer__social-cont {
    margin-top: 2rem;
    /*32px a margin top*/
}

.main-footer__row-1 {
    order: 2;
    padding-right: 10rem;
    /*Segunda ordem, apareça em segundo, logo após o sobre no final*/
}

.main-footer__icon--mr-none {
    margin-right: 0;
}

.footer_main-social-icon {
    /*Padronizando todas as imagens do footer*/
    margin: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}

.main-footer__row-2 {
    width: 60%;
    order: 1;
    max-width: 50rem;
}

@media only screen and (max-width: 56.25em) {
    .main-footer__row-2 {
        width: 100%;
    }
}



.main-footer__lower {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1rem;
    text-align: left;
    text-align: center;
}

.link_footer {

    text-decoration: underline;
}